;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.8.1"]]

 :builds
 {:app
  {:target :react-native
   :init-fn test.app/init
   :output-dir "react-native/app"
   :js-options {:js-package-dirs ["react-native/node_modules"]}}}}